.page-header {
    background: $off-white;
    padding: $l-size 0;
    margin-bottom: $l-size;
}

.page-header__title {
    font-weight: 300;
    text-shadow: 0 .5rem .5rem rgba($color-primary, .4);
    color: $color-black;
    margin: 0;
    span {
        font-weight: bold;
    }
}

.page-header__actions {
    margin-top: $m-size;
}