// Colors
$color-primary: #078218;
$color-secondary: 	#916204;
$color-black: 	#000;
$dark-grey: #333;
$grey: #666;
$btn-blue:  #0780b4;
$dark-blue: #364051;
$white: #fefefe;
$off-white: #f7f7f7;
$color-red: #b30000;
//font sizes
$font-size-large: 1.8rem;
$font-size-medium: 1.6rem;
$font-size-small: 1.4rem;
// Spacing
$xs-size: .8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
